/*body { background-image: url("./source/back4.jpg") }*/
#display{

    background-color: beige;
    position: absolute;
    width: 600px;
    height: 600px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}
#oneImg{

    position: absolute;
    left: 5%;
    top: 5%;
    width: 30%;
    height: 30%;

}
#twoImg{

    position: absolute;
    left: 35%;
    top: 5%;
    width: 30%;
    height: 30%;

}
#threeImg{

    position: absolute;
    left: 65%;
    top: 5%;
    width: 30%;
    height: 30%;

}
#thirdImg{

    position: absolute;
    left: 5%;
    top: 35%;
    height: 30%;
    width: 30%;

}
#fiveImg{

    position: absolute;
    left: 35%;
    top: 35%;
    height: 30%;
    width: 30%;

}
#sixImg{

    position: absolute;
    left: 65%;
    top: 35%;
    height: 30%;
    width: 30%;

}
#sevenImg{

    position: absolute;
    left: 5%;
    top: 65%;
    height: 30%;
    width: 30%;

}
#eightImg{

     position: absolute;
     left: 35%;
     top: 65%;
     height: 30%;
     width: 30%;
 }
#nineImg{

      position: absolute;
      left: 65%;
      top: 65%;
      height: 30%;
      width: 30%;

}

#musicarea{

    background: url("./source/playAnimation.png");
    width: 20px;
    height: 20px;
    right: 100px;
    top: 100px;
    border: none;
    border-radius: 10px;

    animation:mycircle 2s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;

    -webkit-animation:mycircle 2s; /* Safari and Chrome */
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:linear;

    -ms-animation:mycircle 2s; /* IE 9*/
    -ms-animation-iteration-count:infinite;
    -ms-animation-timing-function:linear;


}

@keyframes mycircle{

    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);

    }
}
@-webkit-keyframes mycircle /* Safari and Chrome */
{

    from {
        -webkit-transform:rotate(0deg);
    }
    to {
        -webkit-transform:rotate(360deg);

    }
}
@-ms-keyframes mycircle {


    from {
        -ms-transform:rotate(0deg);
    }
    to {
        -ms-transform:rotate(360deg);

    }
}
